{% extends 'base/main.html' %}
{% load static %}
{% block title %}<title>Password Change Done</title> {% endblock %}
{% block content %}

<section class="breadcrumb breadcrumb_bg" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Password Changed Successfully</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container my-5">
    <div class="row" style="margin-top: 150px;">
        <h3>Welcome {{request.user | title}}</h3>
    </div>
        <div class="row">
        <div class="col-sm-2">
            <ul class="list-unstyled">
                <li class="d-grid "><a href="{% url 'profile' %}" class="new btn btn-primary" style="width: 150px;">Back to Profile</a></li>
            </ul>
        </div>
        </div>
        <div class="row justify-content-md-center" style="margin-top: -80px;">
        <div class="col-sm-9 offset-md-6" text-center>
            <h3>Password Changed Successfully!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHe3PQTtk" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}